{{ define "main" }}

    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            {{ partial "post-content.html" . }}
            
            <nav class="post-pagination">

                {{if .Next}}
                <a class="newer-posts" href="{{.Next.RelPermalink}}">
			{{ i18n "next_link" }}<br>{{.Next.Title}}
                </a>
                {{else}}
                <a class="newer-posts">
			{{ i18n "next_link" }}<br>{{ i18n "no_newer_posts"}}
                </a>
                {{end}}
                
                {{if .Prev}}
                <a class="older-posts" href="{{.Prev.RelPermalink}}">
			{{ i18n "prev_link" }}<br>{{.Prev.Title}}
                </a>
                {{else}}
                <a class="older-posts">
			{{ i18n "prev_link" }}<br>{{ i18n "no_older_posts" }}
                </a>
                {{end}}
            </nav>
            <div class="post-comment-wrapper">
                {{ if eq .Params.comment false }}
                <p style="opacity: 0.6" align="center">
                    <small>{{ i18n "comments_disabled" }}</small>
                </p>
                {{ else }}
                {{- partial "comment.html" . -}}
                {{ end }}
            </div>
        </div>
    </div>

{{ end }}
